@charset "UTF-8";
/* @import url(); */

:root{
    --cor-principal: #0d0d0d;
    --cor-secundaria:  #F2EAE4;
    --cor-terciaria:#89708C;
}
* {
    margin: 0;
    padding: 0;
}

.corpo {
    background-color:var(--cor-principal);
    /* height: 100vh; */
    box-sizing: border-box;
    color: var(--cor-secundaria);
}

strong {
    color: #8A038C;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #8A038C;
    margin: 0 10px;
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: #F2EAE4;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15%;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo {
    font-family: 'Krona One', sans-serif;
    font-size: 2.25rem;
}

.texto {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

.botao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.botao__subtitulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.botao__link {
    /* background-color: #89708C; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #89708C;
    width: 50%;
    text-align: center;
    border-radius: 16px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    font-family: 'Krona One', sans-serif;
    color: #F2EAE4;
}

.botao__link:hover {
    background-color: #89708C;
}

.imagem {
    border: 5px solid #89708C;
    padding: 20px;
    border-radius: 16px;
    width: 30%;
}

.rodape {
    padding: 24px;
    color: #F2EAE4;
    background-color: #8A038C;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}
@media (max-width: 1200px){
    .cabecalho{
        padding: 10% ;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
   
}